@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  line-height: 150%;
}

.section--nav {
  position: sticky;
  top: 0;
  max-width: 90rem;
  background-color: #fff;
}

.container--nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding-inline: 5rem;

  & > .nav--left {
    display: flex;
    column-gap: 0.625rem;
  }

  & > .nav--right {
    display: flex;
    column-gap: 3rem;
  }
}

.nav {
  margin-block: 1rem;
  font-weight: 500;

  &--title {
    padding-left: 0.625rem;
    border-left: solid 0.0938rem #000;
  }
}

img {
  max-height: 25rem;
}
