@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 150%;
}

.section--nav {
  position: sticky;
  top: 0;
  z-index: 10;
  max-width: 1440px;
  margin-inline: auto;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.25rem 0 rgb(0 0 0 / 10%);
}

.container--nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 80px;

  & > .nav--left {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }

  & > .nav--right {
    display: flex;
    column-gap: 48px;
    align-items: center;
  }
}

.nav {
  margin-block: 16px;
  font-weight: 500;

  &--title {
    padding-left: 10px;
    border-left: solid 1.5008px #000;
  }
}

.home {
  padding-block: 0.25rem;
  padding-inline: 1rem;
  color: #fff;
  background-color: #000;
  border-radius: 0.3125rem;
}

.img {
  display: block;
  margin-inline: auto;
  margin-top: 6.25rem;

  &--text-t {
    position: absolute;
    top: 8.6875rem;
    left: 50%;
    margin-top: 145px;
    font-size: 128px;
    font-weight: 500;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  &--sub-t {
    margin-top: 16px;
    font-size: 24px;
    text-align: center;
  }
}

.works {
  &--title {
    margin-block: 20rem 3rem;
    font-size: 2.625rem;
    font-weight: 500;
    text-align: center;
  }

  .works--img-bcd {
    position: relative;
    max-width: 52.625rem;
    margin: 0 auto;
    overflow: hidden;
    border: 0 solid #000;
  }

  &--subt {
    margin-top: 1.5rem;
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
  }
}

.a {
  display: flex;
}

.a > * {
  width: 100%;
  max-height: 35.9375rem;
}

#prevBtn {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  width: 4rem;
  height: 80px;
  text-indent: -9999px;
  opacity: 0.7;
  transform: translate(0%, -50%);
}

#nextBtn {
  position: absolute;
  top: 50%;
  right: 0;
  width: 4rem;
  height: 80px;
  text-indent: -9999px;
  border: 0;
  transform: translate(0%, -50%);
}
